.dots {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

@media (max-width: 745px) {
    .dots {
        position: absolute;
        top: 100%;
        margin-top: 16px;
        left: 44%;
    }
}

@media (max-width: 376px) {
    .dots {
        position: absolute;
        top: 100%;
        margin-top: 8px;
        margin-bottom: 40px;
        left: 36%;
    }
}