.slide-main {
    margin: 0 auto;
    width: 1160px;
    background: rgba(255, 255, 255, 1);
    border-radius: 30px;
    position: relative;
    height: fit-content;
}

.slide {
    display: none;
    background: rgba(255, 255, 255, 1);
}

.active {
    display: block;
}

.slide-container {
    display: grid;
    grid-template-columns: 42% 58%;
}

.slide-container-left {
    padding: 100px 40px 0px 80px;
}

.slide-container-right {
    display: flex;
    width: 100%;
    height: 100%;
}

@media (max-width: 745px) {
    .slide-main {
        width: calc(100% - 20px);
    }

    .slide-container {
        display: block;
    }

    .slide-container-left {
        padding: 0;
    }
}

@media (max-width: 376px) {
    .slide-main {
        width: calc(100% - 38px);
    }

    .slide-container {
        display: block;
    }

    .slide-container-left {
        padding: 0;
    }
}